// =============================================================================
// Colors
// =============================================================================

$brand-primary:				#e74c3c;
$brand-primary-accent:		#c0392b;

$brand-secondary:			#3498db;
$brand-secondary-accent:	#2980b9;

$brand-tertiary:			#2C3E50;
$brand-tertiary-accent:		#22313F;

$base-white:				#fcfcfe;
$base-black:				#3c3c3e;

$greyscale-1:				#ecf0f1;
$greyscale-2: 				#dadfe1;
$greyscale-3:				#bdc3c7;
$greyscale-4:				#95a5a6;
$greyscale-5:				#7f8c8d;
$greyscale-6:				#6c7a7b;
$greyscale-7:				#515b5c;
$greyscale-8:				#4c4c4e;


// =============================================================================
// Social Media Colors
// =============================================================================

$social-facebook:			#3b5998;
$social-twitter:			#55acee;
$social-instagram:			#3f729b;
$social-google-plus:		#dd4b39;
$social-youtube:			#cd201f;
$social-pinterest:			#cc2127;
$social-linkedin:			#0077b5;
$social-tumblr:				#35465c;
$social-flickr-blue:		#0063dc;
$social-flickr-pink:		#ff0084;