@import "../utils/mixins";
@import "../utils/variables";

/*------------------------------------------------------------------------------
# Component - Comments
------------------------------------------------------------------------------*/

// Comments Section
.comments{
	overflow: hidden;
	margin-top: 1.75rem;

	@include breakpoint(alpha) {
		margin-top: 3.5rem;
		background-color: $base-white;
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		@include border-radius(2px);
	}
}

.comments-content{
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;

	@include breakpoint(alpha) {
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
}

.comment-title,
.comment-reply-title{
	padding-bottom: 1rem;
	border-bottom: 3px solid $greyscale-2;

	small{
		float: right;
		font-size: 1rem;
	}
}

// List of Comments
.comment-list{
	margin: 0;
	list-style: none;

	li{
		margin-top: 1.75rem;

		&:first-child{
			margin-top: 0;

			article{
				padding-top: 0;
				border-top: none;
			}
		}

		article{
			padding-top: 1.75rem;
			border-top: 1px solid $greyscale-2;
		}
	}
}

// Children of Comment List
.children{
	margin-bottom: 0;
	list-style: none;

	li{
		margin-top: 1.75rem;

		&:first-child{
			margin-top: 0;

			article{
				padding-top: 0;
				border-top: none;
			}
		}

		article{
			padding: 1.75rem !important;
			background-color: $greyscale-1;
			border-top: 1px solid $greyscale-2;
		}
	}
}

// Individual Comments
.comment{

}

.comment-body{

}

.comment-meta{
	position: relative;
	color: $greyscale-5;
}

.comment-author{
	position: relative;

	@include breakpoint(alpha) {
		padding-left: 4.5rem;
	}

	.avatar{
		display: none !important;

		@include breakpoint(alpha) {
			display: block !important;
			position: absolute;
			top: 0;
			left: 0;
			@include border-radius(50%);
			overflow: hidden;
		}
	}

	.fn{

	}

	.says{
		display: none;
	}
}

.comment-metadata{

	@include breakpoint(alpha) {
		padding-left: 4.5rem;
	}

	a{
		font-size: 0.875rem;
	}
}

.comment-content{

}

.comment-reply-link{
	display: inline-block;
	padding: 0.25rem 0.75rem;
	background-color: $brand-primary;
	font-size: 0.875rem;
	line-height: 1.75rem;
	text-decoration: none;
	color: $base-white !important;
	border: none;
	@include border-radius(2px);

	&:hover{
		background-color: $brand-primary-accent !important;
	}
}

// Comments Response Section
.comment-respond{

}

.comment-form{

	.comment-notes{
		font-style: italic;
		font-size: 0.875rem;
		color: $greyscale-5;
	}

	.required{
		color: $brand-primary;
	}

	.logged-in-as{
		font-style: italic;
		font-size: 0.875rem;
	}

	.form-submit{
		margin-bottom: 0;
	}
}

[class*='comment-form-'] {

	label{
		display: block;
		padding-bottom: 0.375rem;
		font-weight: 500;
	}

	textarea,
	input{
		display: block;
		width: 100%;
		min-height: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	textarea{
		resize: vertical;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

}

// Comments Navigation
.comment-navigation{
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.comment-nav-links{
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: $greyscale-1;
	border: 1px solid $greyscale-2;
	@include border-radius(2px);
	font-size: 0.875rem;

	.previous,
	.next{
		display: inline-block;
	}

	.next{
		float: right;
	}
}

// No Comments
.no-comments{
	display: block;
	width: 100%;
	margin-top: 3.5rem;
	margin-bottom: 0;
	padding: 1rem;
	background-color: $greyscale-1;
	border: 1px solid $greyscale-2;
	@include border-radius(2px);
	color: $greyscale-5;
}