@import "../utils/mixins";
@import "../utils/variables";

/*------------------------------------------------------------------------------
# Components - Forms
------------------------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: $greyscale-5;
	border: 1px solid $greyscale-2;
	@include border-radius(2px);

	&:focus {
		color: $greyscale-7;
	}
}

textarea {
	width: 100%;
}

select {
	border: 1px solid $greyscale-2;
}

.search-form{

	div{
		width: 100%;
		white-space: nowrap;
		padding-right: 44px;

		input{
			display: inline-block;
		}
	}
}

.search-field{
	float: left;
	width: 100%;
	height: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.875rem;
	color: $base-black;
	@include border-top-left-radius(2px !important);
	@include border-top-right-radius(0px !important);
	@include border-bottom-left-radius(2px !important);
	@include border-bottom-right-radius(0px !important);
}

.search-submit{
	width: 3rem;
	height: 3rem;
	font-family: "FontAwesome";
	color: $base-white;
	@include border-top-left-radius(0px !important);
	@include border-bottom-left-radius(0px !important);
}