@import "../utils/mixins";
@import "../utils/variables";

/*------------------------------------------------------------------------------
# Layout - Header
------------------------------------------------------------------------------*/

.site-header{
	width: 100%;
	height: 78px;
	background-color: $base-white;
	border-bottom: 1px solid $greyscale-2;
	z-index: 9999;
}

.header-content{
	position: relative;
	width: 100%;
	height: 78px;
	z-index: 9998;
	line-height: 78px;
}

.header-logo{
	float: left;
	margin: 0;

	a{
		display: block;
		text-decoration: none;
		line-height: 78px;
		color: $base-black;
		@include transition(all, 0.3s);

		&:hover{
			color: $brand-primary;
		}
	}
}

.toggle-menu{
	float: right;
	display: block;
	text-decoration: none;
	color: $greyscale-5;

	i{
		margin-right: 0.5rem;
	}

	@include breakpoint(alpha) {
		display: none;
	}
}

.primary-navigation{
	list-style: none;
	display: none;
	margin: 0;
	width: 100%;

	&.active{
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
	}

	li{
		width: 100%;
		height: auto;
		background-color: $base-black;
		border-top: 1px solid $greyscale-8;
		
		a{
			display: block;
			padding: 1rem;
			text-decoration: none;
			line-height: 1.75rem;
			color: $base-white;
		}
	}

	@include breakpoint(alpha) {
		float: right;
		display: block;
		width: auto;

		li{
			float: left;
			display: inline-block;
			width: auto;
			margin-left: 2rem;
			background-color: transparent;
			border-top: none;

			&:first-child{
				margin-left: 0;
			}

			a{
				padding: 0;
				line-height: 78px;
				color: $greyscale-5;
				@include transition(all, 0.3s);

				&:hover{
					color: $brand-primary;
				}
			}
		}
	}
}