@import "../utils/mixins";
@import "../utils/variables";

/*------------------------------------------------------------------------------
# Pages - Author
------------------------------------------------------------------------------*/

.author-profile{
	margin-bottom: 3.5rem;
	padding: 1.75rem;
	background-color: $brand-tertiary;
	@include border-radius(2px);
}

.author-data{
	position: relative;
	width: 100%;

	@include breakpoint(alpha) {
		min-height: 79px;
	}
}

.author-info{

	@include breakpoint(alpha) {
		margin-left: 96px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

.author-image{
	display: none;

	@include breakpoint(alpha) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 79px;
		height: 79px;
		border: 3px solid $base-white;
		@include border-radius(50%);
		overflow: hidden;
	}
}

.author-name{
	margin: 0;
	color: $base-white;
}

.author-meta{
	list-style: none;
	margin: 0;

	li{
		color: $greyscale-4;
		margin-bottom: 1.5rem;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			color: $brand-primary;

			&:hover{
				color: $brand-secondary;
			}
		}
	}
}

.author-description{
	display: block;
	margin-bottom: 0;
	color: $base-white;
}