@import "../utils/mixins";
@import "../utils/variables";

/*------------------------------------------------------------------------------
# Pages - Search
------------------------------------------------------------------------------*/

.search-header{
	margin-bottom: 3.5rem;
	padding: 1.75rem;
	background-color: $brand-tertiary;
	@include border-radius(2px);

	@include breakpoint(alpha) {
		padding: 3.5rem;
	}
}

.search-details{

	h2{
		margin-top: 0;
		color: $base-white;

		span{
			display: block;
			color: $brand-primary;
		}
	}

	p{
		font-style: italic;
		color: $greyscale-4;
	}
}